    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Meet the Officers</h2>
                    <p> Our WiCS club introduces, Abby Feather as the president, Vivien Lim and Sruthi Malineni as co-vice president, Sruthi Malineni as business manager, Vivien Lim as marketing manager, and Laura Liang as events coordinator.</p>
                </div>
            </div>
        </div>
    </section>
